body{
    background-color:rgb(202, 91, 243);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:'Poppins' sans-serif;
}

.login{
   background: rgba(255, 255,255, 0.15);
   padding: 60px;
   margin: 40px;
   border-radius: 25px;
   border: 2px solid rgba(255, 255, 255, 0.3);
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
   width: 380px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   
}

.button{
    background-color: rgb(141, 16, 209);
    width: 100%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-family:'Poppins',sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.35s;
}

h1{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    color: white;
}

.mensagem{
  background: white;
  border-radius: 10px;
  border: 1px solid rgb(180, 180, 180);
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  outline: none;
  transition: 0.3s;
}

.categorias_listar, h1{
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 18px
}