body{
    background-color:rgb(144, 127, 255);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.login{
    text-align: left;
    border: 2px solid black;
    padding: 80px;
    margin: 80px;
    border-radius: 20px;
    font-family: cursive;
    font-size: 20px;
    background-color: rgb(87, 2, 214);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.button{
    background-color: rgb(150, 28, 215);
    width: 100px;
    height: 30px;
    font-size: 17px;
    border-radius: 5px;
    font-family: cursive;
}

h1{
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

.mensagem{
    background-color: rgb(247, 50, 50);
    border-radius: 10px;
    border-color: black;
}